.header {
    display: flex;
    justify-content: flex-start;
    padding: 0 0.5rem;

    p {
        margin: 1rem 0;
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.PageContent {
    background: var(--body-gradient);
    border-radius: 6px;
    box-shadow: 0px 2px 10px rgba(142, 128, 166, 0.95);

    height: 33rem;
    width: 20rem;
}
