.Records {
    align-items: center;
    display: grid;
    grid: auto 1fr auto/ 1fr;
    height: inherit;
    justify-items: center;
    padding: 2rem 1rem 2.5rem 1rem;
    width: inherit;

    p {
        max-width: 18ch;
        text-align: center;
        text-transform: none;
    }
}
